.hero-container{
    display: flex;
    align-items: center;
    position:relative;    
}

.hero-container::after,
.hero-container::before{
    content: " ";
    width: 28.125rem;
    height: 28.125rem;
    border-radius: 28.125rem;
    background:#7c66e3;
    position: absolute;
    z-index:-1;
    filter: blur(225px);
}

.hero-container::after{
    top:-3rem;
    left:-5rem;
}
.hero-container::before{
    bottom: 2rem;
    right: 0rem;
}

.hero-content{
    flex:1;
}
.hero-content h2{
    font-size: 2.8rem;
    font-weight: 100;
    line-height: 5rem;
    margin-bottom: 0rem;
    margin-top: 1.5px;
    color: none;
}
.hero-content h1{
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 5rem;
    margin-bottom:0rem;
}


.hero-content p{
    width:80%;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;
}

.hero-img {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;

}
.hero-img > div {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}
.hero-img>div>.java{
    position:relative;
    left: 111px;
    bottom: 115px;
}
.hero-img>div>img{
    width:26rem;
    border-radius: 10%;
    transition: all 0.3s ease;
}


/* .icon{
    bottom: 130px;
    position: absolute;
    margin-right: 1600px;
    border-radius: 90%;
    background:transparent;
    /* color:#0ef; */
    /* text-decoration: none;
    font-size: 20px;
    width: 320px;
    height: 60px;  */ */
    /* align-items: center; */
    /* justify-content: space-between;
    display: inline-flex;  
    /* width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.65rem;
    border: 2.5px solid #6852ba; */

 .icon-img{
    border-radius: 0.65rem;
    border: 3.5px solid #6852ba;
    display: flex;
    justify-content: center;
    padding: 3px;
    background-color: white; }

  
   .icon :hover{
    background:white;
    color: #081b29;
    box-shadow: 0 0 10px #0ef;
  } 

.tech-icon {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.65rem;
    border: 2.5px solid #6852ba;
    /* margin-top: 10px; */
}

.tech-icon img{
    width: 3rem;
    height: auto;
    transition: all 0.3s ease;
}
.hero-container react1{
    margin-right:10px;
}

.react1{
    margin-top: 40px;
    display: flex;
    margin-right: 400px;
}
.react-icon{
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.65rem;
    border: 2.5px solid #6852ba;
    margin-left: 20px;
}
.react-icon img{
    width: 1rem;
    display: flex;
    height: auto;
    transition: all 0.3s ease;
}
.hero-img>div>img:hover,
.tech-icon img:hover{
    transform: translateY(-0.5rem);
    box-shadow: 0 0 10px #0ef;
    border-radius: 2px;
}

@media (max-width:1025px) {
    .hero-content h2{
        font-size: 3rem;
        line-height: 4rem;
    }

    .hero-content p {
        font-size: 0.9rem;
        line-height: 1.6rem;
    }

    .hero-img > div > img {
        width:20rem;
    }
    
    .tech-icon{
        width:4rem;
        height: 4rem;
    }
    .hero-img>div>.java{
        left: 96px;
        bottom: 89px;
    }
    .tech-icon img{
        width: 2.5rem;
    }
}

@media (max-width:768px) {
    .hero-container {
        flex-direction: column;
    }
    .hero-img>div>.java{
        left: 98px;
        bottom: 90px;
    }
    .hero-img {
        margin: 2rem 0 2rem 0;
    }

    .hero-content h2{
        margin-top:3rem;
    }  
    .hero-content h2,
    .hero-content p{
        width: auto;
        text-align: center;
    }

    .hero-container::after,
    .hero-container::before{
        content: " ";
        width: 18rem;
        height: 18rem;
    }

    .hero-container::after{
        top:0rem;
        left: 0rem;
    }

    .hero-container::before{
        bottom: 2rem;
        right: 0rem;
    }
}

@media (max-width:600px){
    .hero-content h2{
        font-size: 2.2rem;
        line-height: 3rem;
    }

    .hero-content p{
        font-size: 0.8rem;
        line-height: 1.3rem;
    }

    .hero-img{
        gap:1rem;
    }

    .hero-img > div {
        gap: 1rem;
    }
    .hero-img>div>.java{
        left: 70px;
        bottom: 70px;
    }
    .hero-img >div>img{
        width: 16rem;
    }

    .tech-icon {
        width: 3.3rem;
        height: 3.3rem;
    }

    .tech-icon img {
        width:2rem
    }
}