 /* .aboutme{
    position: absolute;
    top:250px;
    color: white;
    font-size: 20px;
    margin-left: 400px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:50px;
    margin-right:20px;
    text-align:justify;
  } */
  /* .aboutme p{
    width: 600px;
    font-size: 20px;
    text-align:justify;
    margin-right:20px;
    margin-left: 200px;
  }
  .title{
    position:absolute;
    top:200px;
    color: white;
  }
  .title p{
   margin-left: 900px;;
   color: #0ef;
   border-radius:30%;
   width: 150px;
   font-size: 25px;
   font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .title img{
    margin-left: 120px;
  }  */
.aboutme p{
    margin-top: 10px;
    margin-left: 600px;
    position: relative;font-size: 20px;
}
.aboutme h1{
    margin-top: 30px;
    margin-left: 600px;
    position: relative;
    font-size: 55px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.aboutme h2{
    margin-top:190px;
    margin-left: 470px;
}
.aboutme h3{
    margin-top:10px;
    margin-left: 600px;
    font-size: 30px;
    color: darkorange;
}
.heading{
font-size: 50px;
color: darkorange;
margin-right: 100px;
}
.title{
    position: absolute;
    bottom: 4100px;
    width: 100px;
}
.resume{
  background-color: darkorange;
  color: black;
  font-size: 18px;
   padding: .72em 1.8em;
   text-decoration: none;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   font-family: Roboto, sans-serif;
   line-height: 1.5em;
   font-weight: 500;
  
   border-radius: 50px;
   min-width: 170px;
   border: none;
   outline: none;
   transition: all .4s ease;
   text-transform: capitalize;
   cursor: pointer;
   margin-left: 600px;
    }
    .resume-session{
      margin-top: 200px;
      position: relative;
    }
.resume-session strong{
font-size: 50px;
color: darkorange;
margin-left: 450px;
}
.resume-session h1{
  font-size: 65px;
  margin-top: 80px;
}
h2{
  color: darkorange;
  font-weight: 100;
  font-size: 30px;
  margin-top: 50px;
}
h3{
  font-size: 20px;
  font-weight: 100;
}
p{
  font-size: 23px;
}
.expreience{
display: flex;
position: absolute;
margin-left: 700px;
margin-bottom: 1550px;
bottom: 1420px;
}
.expreience h1{
  font-size: 60px;
}
.certi-class{
  margin-top: 50px;
}